<div class="container fixed-top glassEffect p-3 mt-3 justify-content-between">
  <div class="row align-items-center justify-content-between">
    <!-- Left side with the title -->
    <div class="col-md-8 logo">
      <app-logo></app-logo>
    </div>
    <!-- Right side with Mission, About us, and Contact us -->
    <div class="col-md-4 d-flex justify-content-between">
      <div class="sirin-stencil-regular mx-3 secondaryColor">
        <span>Problems</span>
      </div>
      <div class="sirin-stencil-regular mx-3 secondaryColor">
        <span>Blogs</span>
      </div>
      <div class="sirin-stencil-regular mx-3 secondaryColor">
        <span>Contact us</span>
      </div>
    </div>
  </div>
</div>
