<app-navbar></app-navbar>

<section class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  <div class="d-flex justify-content-center align-items-center">
    <img src="assets/landing_page_heading.svg" alt="Landing page heading">
  </div>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <h2 class="sirin-stencil-regular">We know how hard it is to be a coder. It doesn’t have to be.</h2>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-3">
    <h2 class="sirin-stencil-regular" style="width: 80vh;">Tailored problem sets, community support, and smarter editor—just what you need to level up ;)</h2>
  </div>
</section>

<section class="flex-column justify-content-center align-items-center">
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" style="height: 70vh;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="flex-column text-center sirin-stencil-regular">
            <h2 class="p-3">Secure Data</h2>
            <img src="/assets/login_page.svg" style="height: 70vh;">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="flex-column text-center sirin-stencil-regular">
            <h2 class="p-3">Awesome Editor</h2>
            <img src="/assets/editor_page.svg" style="height: 70vh;">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="flex-column text-center sirin-stencil-regular">
            <h2 class="p-3">Diverse Problemset</h2>
            <img src="/assets/problems_page.svg" style="height: 70vh;">
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="height: 25vh; margin-top: 20vh;">
    <img src="assets/companies.svg" alt="Top Companies">
  </div>
</section>
<div class="d-flex justify-content-center align-items-center mt-5">
  <img src="assets/landing_pg_line.svg">
</div>
<app-footer></app-footer>